---
title: Index
layout: base
---

<h1>Hello, World!</h1>
<h2>Recent posts</h2>
<ul>
    {% for post in collections
        .posts
        .slice(0, 3)
        .reverse() %}
        <li>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            <br>
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </li>
    {% endfor %}
</ul>
<iframe src="https://eodashboard.org/iframe?poi=W7-FB" width="800px" height="500px" frameBorder="0" scroll="no" style="overflow:hidden"></iframe>
<iframe src="https://eodashboard.org/iframe?poi=CV-CV" width="800px" height="500px" frameBorder="0" scroll="no" style="overflow:hidden"></iframe>